<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <h4>USEr ID: <%= @user.id%></h4>
  <h4>First Name: <%= @user.first_name %></h4>
  <h4>Crawl ID: <%= @crawl.id %></h4>
  <h4>Crawl URL: <%= @crawl.url%></h4>
  </body>
</html>
