<div class="container">
  <div class="row">
    <div class= "col-md-12">
      <div class="col-md-9 col-sm-8 col-xs-12 padding-0">
        <%= form_for(@crawl, url: user_start_crawling_path(current_user), html: { method: :post }) do |f| %>
          <div class="list-group">
            <div class="list-group-item">
              <%= f.text_field :url, class: 'form-control no-border', autocomplete: "off", required: true, autofocus: true,  placeholder: 'paste snapdeal products url or single product url to start crawling' %>
            </div>
          </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-12 margin-top-5">
        <%= f.submit "Start Crawling", {class: 'btn btn-lg btn-primary btn-block '} %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class= "col-md-12">
      <%= render partial: 'shared/activities', locals: { activities: @activities } %>
    </div>
  </div>
</div>
