<% if activities.present? %>
  <h4 class = 'margin-top'> Recent Activities </h4>
  <div class="table-responsive">
    <table class="table table-bordered table-inverse">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Time</th>
          <th>Crawled URL</th>
          <th>Total Products crawled</th>
        </tr>
      </thead>
      <tbody>
        <% activities.each_with_index do |activity, index| %>
            <tr>
              <td><%= index + 1 %></td></div>
              <td><%= activity.formatted_time(activity.created_at) %></td>
              <td> <%= link_to activity.crawl.url, user_crawl_path(current_user.slug, activity.crawl.slug) %></td>
              <td><%= activity.crawl.products.length %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class= "col-md-3"></div>
  <div class= "col-md-6 margin-20">
    <h4> You haven't started any crawling yet! </h4>
    <h4>Hurry up start crawling the snapdeal website by pasting the correct url!!</h4>
  </div>
  <div class= "col-md-3"></div>
<% end %>
