<div class="top-title-wrapper">
  <div class="container p-t-50">
    <div class="row">
      <div class="col-md-4 col-sm-2 col-xs-12"></div>
      <div class="col-md-4 col-sm-8 col-xs-12">
        <div class="page-info">
          <h4 class="h3-page-title text-center">Forgot password</h4>
          <h2 class="h2-page-desc"></h2>
        </div>
      </div>
      <div class="col-md-4 col-sm-2 col-xs-12"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-2 col-xs-12"></div>
    <div class="col-md-4 col-sm-8 col-xs-12">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <div class="list-group">
            <div class="list-group-item">
              <%= f.text_field :email, class: 'form-control no-border', 'data-required' => 'true', autofocus: true,  placeholder: 'Email' %>
            </div>
          </div>
          <%= f.submit "Submit", {class: 'btn btn-lg btn-primary btn-block '} %>
          <div class="line line-dashed m-b-none"></div>
          <p></p>
          <p class="text-muted text-center">
            <small>Do not have an account?</small>
          </p>
          <a class="btn btn-lg btn-default btn-block" href="/users/sign_up">Sign up</a>
      <% end %>
      <div class="text-center padder">
        <p>
          <small>
            © 2016 PromptCloud Crawling Application
          </small>
        </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-2 col-xs-12"></div>
  </div>
</div>
